@import "/public/styles/mixins";

.Footer {
  width: 100%;
  .Wrapper {
    @include flex(row, nowrap, center, center);
    padding: 0 0 2em 0;
  }

  &-ul {
    @include flex(row, wrap, center, center);
    font-size: 0.875rem;
    color: var(--c--footer);
    gap: 0.625rem;
    @include media() {
      @include flex(row, wrap, center, center);
      padding: 0 6.25rem;
    }
  }
}
